{% extends 'base.html' %}
{% block content %}
<h1>Futbal shop</h1>
<p>Wher exselence meets a butifull gam</p>

<a href="{% url 'main:new_item' %}">
  <button>+ Ad Item</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakir login: {{ last_login }}</h5>

<a href="?filter=all">
    <button type="button">Al items</button>
</a>
<a href="?filter=my">
    <button type="button">My items</button>
</a> 

<hr>

{% if not item_list %}
<p>Blum ad data itm yg tersedia.</p>
{% else %}

{% for item in item_list %}
<div>
  <h2><a href="{% url 'main:show_item' item.id %}">{{ item.name }}</a></h2>
  
  <p><b>{{ item.get_category_display }}</b>{% if item.is_featured %} | 
    <b>Feetured</b>{% endif %} | <i>{{  item.price }}</i></p>

  {% if item.thumbnail %}
  <img src="{{ item.thumbnail }}" alt="thumbnail" width="150" height="100">
  <br />
  {% endif %}

  <p>{{item.description|truncatewords:25}}...</p>

  <p><a href="{% url 'main:show_item' item.id %}"><button>Reead Mor</button></a></p>
</div>

<hr>
{% endfor %}
{% endif %}

<h5>login info:</h5>
<h5>NPM: </h5>
<p>{{ npm }}</p>

<h5>Name:</h5>
<p>{{ name }}</p>

<h5>Class:</h5>
<p>{{ class }}</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Matikanetannhauser</h2>
<p><abbr title="jp:マチカネタンホイザ, Machikane Tanhoiza">Matikanetannhauser</abbr> is an <abbr title="uma = horse"><i>uma</i></abbr>, from the game <i>umamsume pretty derby</i>.</p>
<p>She is known by the comunity as mambo, because of a viral video of her singing</p>
<a href="https://www.youtube.com/watch?v=h_umrMwoE_E" title="It's a song taught by her dad" target="_blank"> On the video, she sang "Mambo, mambo~ Omatsuri mambo~"</a>
<br><!--link above is the original mambo omatsuri mambo in game-->
<a href="https://www.youtube.com/watch?v=6vwFnKLamKY" target="_blank">
    <img src="https://preview.redd.it/nty78xetq2fe1.jpeg?width=360&format=pjpg&auto=webp&s=79d4cd6ebb408540f504a7f42d143fcad69bc108" alt="img of mambo">
    <!--linknya yg mambo ei ei ei ei mun-->
</a>
{% endblock content%}
