<h1>Futbal shop</h1>
<p>Wher exselence meets a butifull gam</p>

<h3>{{name}}</h3>
<p>[nanti gambar di sini]</p>
<h4>{{price}}</h4>
<p>{{description}}</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Matikanetannhauser</h2>
<p><abbr title="jp:マチカネタンホイザ, Machikane Tanhoiza">Matikanetannhauser</abbr> is an <abbr title="uma = horse"><i>uma</i></abbr>, from the game <i>umamsume pretty derby</i>.</p>
<p>She is known by the comunity as mambo, because of a viral video of her singing</p>
<a href="https://www.youtube.com/watch?v=h_umrMwoE_E" title="It's a song taught by her dad" target="_blank"> On the video, she sang "Mambo, mambo~ Omatsuri mambo~"</a>
<br><!--link above is the original mambo omatsuri mambo in game-->
<a href="https://www.youtube.com/watch?v=6vwFnKLamKY" target="_blank">
    <img src="https://preview.redd.it/nty78xetq2fe1.jpeg?width=360&format=pjpg&auto=webp&s=79d4cd6ebb408540f504a7f42d143fcad69bc108" alt="img of mambo">
    <!--linknya yg mambo ei ei ei ei mun-->
</a>
